<div class="sidebar">
    <div class="marca marca-gde">
        <span>R</span>eporte <span>I</span>ncidentes
    </div>
    <div class="marca marca-sm">
        <span>R</span> I
    </div>
    <div class="sidebar-menu">
        <div class="profile">
            <img src="assets/img/Logo.jpeg" alt />
            <!-- <p v-text="actualUser.name"></p> -->
        </div>
        <span> {{rol}} :</span> <span>{{usuario.nombreUsuario}}</span>
        <li class="item">
            <a routerLink="/login" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                true}" class="menu-btn">
                <i class="pi pi-pencil"></i>
                <span>Login</span>
            </a>
        </li>
        <li class="item">
            <a routerLink="/usuarios" routerLinkActive="router-link-active" class="menu-btn">
                <i class="pi pi-users"></i>
                <span>
                    Usuarios
                    <i class="pi pi-angle-down drop-down"></i>
                </span>
            </a>
            <div class="sub-menu">
                <a routerLink="/usuarios" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <i class="pi pi-circle-off"></i>
                    <span>Resumen</span>
                </a>
            </div>
            <div class="sub-menu">
                <a routerLink="/usuarios/alta" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Alta</span>
                </a>
            </div>
        </li>
        <li class="item">
            <a routerLink="/proyectos" routerLinkActive="router-link-active" class="menu-btn">
                <i class="pi pi-briefcase"></i>
                <span>
                    Proyectos
                    <i class="pi pi-angle-down drop-down"></i>
                </span>
            </a>
            <div class="sub-menu">
                <a routerLink="/proyectos" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <i class="pi pi-circle-off"></i>
                    <span>Resumen</span>
                </a>
            </div>
            <div class="sub-menu">
                <a routerLink="/proyectos/alta" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Alta</span>
                </a>
            </div>
        </li>
        <li class="item">
            <a routerLink="/tareas" routerLinkActive="router-link-active" class="menu-btn">
                <i class="pi pi-list"></i>
                <span>
                    Tareas
                    <i class="pi pi-angle-down drop-down"></i>
                </span>
            </a>
            <div class="sub-menu">
                <a routerLink="/tareas" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Resumen</span>
                </a>
            </div>
            <div class="sub-menu">
                <a routerLink="/tareas/alta" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Alta</span>
                </a>
            </div>
        </li>
        <li class="item">
            <a routerLink="/reportes" routerLinkActive="router-link-active" class="menu-btn">
                <i class="pi pi-chart-line"></i>
                <span>
                    Reportes
                    <i class="pi pi-angle-down drop-down"></i>
                </span>
            </a>
            <div class="sub-menu">
                <a routerLink="/reportes/incidentes" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Incidentes por proyecto</span>
                </a>
            </div>
            <div class="sub-menu">
                <a routerLink="/reportes/resueltos" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Incidentes resueltos por desarrollador</span>
                </a>
            </div>
        </li>
        <li class="item">
            <a routerLink="/importaciones" routerLinkActive="router-link-active" class="menu-btn">
                <i class="pi pi-cloud-download"></i>
                <span>
                    Importaciones
                    <i class="pi pi-angle-down drop-down"></i>
                </span>
            </a>
            <div class="sub-menu">
                <a routerLink="/importaciones" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Cargar Incidentes</span>
                </a>
            </div>
        </li>
        <li class="item">
            <a routerLinkActive="router-link-active" class="menu-btn">
                <i class="pi pi-key"></i>
                <span>
                    Desarrollador
                    <i class="pi pi-angle-down drop-down"></i>
                </span>
            </a>
            <div class="sub-menu">
                <a routerLink="/desarrollador" routerLinkActive="router-link-active">
                    <i class="pi pi-circle-off"></i>
                    <span>Incidentes</span>
                </a>
            </div>
        </li>
        <li class="separator"></li>
        <li class="item">
            <a class="menu-btn" (click)="logout()">
                <i class="nav-icon pi pi-power-off"></i>
                <span>Cerrar Sesión</span>
            </a>
        </li>
    </div>
</div>