<h2>Busquedas</h2>
        <hr>
        <ul class="list-group">

            <li *ngIf="Login"
                routerLink=""
                (onLoguearse)="login()"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                class="list-group-item"
            >
                Login
            </li>

            <li *ngIf="Login"
                routerLink="salir"
                routerLinkActive="active"
                class="list-group-item"
            >
                Logout
            </li>

            <li *ngIf="!Login"
            routerLink="salir"
            routerLinkActive="active"
            class="list-group-item"
        >
            Logout
        </li>

            
        </ul>