<h2>Busquedas</h2>
        <hr>
        <ul class="list-group">

            <li *ngIf="Login"
                routerLink=""
                (onLoguearse)="login()"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                class="list-group-item"
            >
                Login
            </li>

            <li *ngIf="Login"
                routerLink="salir"
                routerLinkActive="active"
                class="list-group-item"
            >
                Logout
            </li>

            <li 
            routerLink="usuarios"
            routerLinkActive="active"
            class="list-group-item"
            >
            Usuarios
            </li>
            <li 
            routerLink="reportes"
            routerLinkActive="active"
            class="list-group-item"
            >
            Reportes
            </li>
            <li 
            routerLink="proyectos"
            routerLinkActive="active"
            class="list-group-item"
            >
            Proyectos
            </li>
            <li 
            routerLink="incidentes"
            routerLinkActive="active"
            class="list-group-item"
            >
            Incidentes
            </li>
            <li 
            routerLink="importaciones"
            routerLinkActive="active"
            class="list-group-item"
            >
            Importaciones
            </li>
            <li 
            routerLink="estados"
            routerLinkActive="active"
            class="list-group-item"
            >
            Estados
            </li>
            <li 
            routerLink="asociaciones"
            routerLinkActive="active"
            class="list-group-item"
            >
            Asociaciones
            </li>

            
        </ul>