<h1>Alta Usuario</h1>
<hr>

<form autocomplete="off" 
      [formGroup]="miFormulario"
      (ngSubmit)="altaUsuario()">
    
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class ="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input  class="form-control"
                    type="text"
                    placeholder="Cristian"
                    formControlName ="Nombre"
            >
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('Nombre')">
                  Este campo es obligatorio
            </span>
        </div>
    </div>
    <!-- Apellido -->
    <div class="mb-3 row">
        <label class ="col-sm-3 col-form-label">Apellido</label>
        <div class="col-sm-9">
            <input class="form-control"
                    type="text"
                    placeholder="Cristian"
                    formControlName ="Apellido"
                   
            >
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('Apellido')">
                  Este campo es obligatorio
            </span>
        </div>
    </div>
    <!-- Contraseña -->
    <div class="mb-3 row">
        <label class ="col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-9">
            <input class="form-control"
                    matInput
                    type="password"
                    placeholder="Cristian"
                    formControlName ="Contrasenia"
                   
            >
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('Contrasenia')">
                  Este campo es obligatorio
            </span>
        </div>
    </div>
    <!-- Rol -->
    <div class="mb-3 row">
        <label class ="col-sm-3 col-form-label">Rol</label>
        <div class="col-sm-9">
            <select RolUsuario="rol" formControlName ="RolUsuario" >
                <option value= 0 >Administrador</option>
                <option value= 1 >Tester</option>
                <option value= 2 >Desarrollador</option>
            </select>
        </div>
    </div>
    <!-- Email -->
    <div class="mb-3 row">
        <label class ="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input class="form-control"
                    matInput
                    type="email"
                    placeholder="cristian@gmail.com"
                    formControlName ="Email" 
                   
            >
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('Email')">
                  Este campo es obligatorio
            </span>
        </div>
    </div>
    <!-- Nombre de Usuario -->
    <div class="mb-3 row">
        <label class ="col-sm-3 col-form-label">Nombre de Usuario</label>
        <div class="col-sm-9">
            <input class="form-control"
                    matInput
                    type="text"
                    placeholder="Cristian"
                    min="3"
                    formControlName ="NombreUsuario" 
                   
            >
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('NombreUsuario')">
                  Este campo es obligatorio
            </span>
        </div>
    </div>
      
    <div class="row">
        <div class="col">
            <button type = "submit"
                    class="btn btn-primary float-end"
                    
            >
                Alta
            </button>
        </div>
    </div>
 </form>

 <!-- [disabled]="miFormulario.invalid" -->