<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <h1>Usuarios</h1>
                    <div>
                        <form (ngSubmit)="altaUsuario()" [formGroup]="miFormulario" class="card-internal">
                            <div class="card-header">Alta Usuario</div>
                            <div class="card-body">
                                <div class="p-field">
                                    <label for="nombre">Nombre</label>
                                    <input id="nombre" type="text" formControlName="Nombre" aria-describedby="nombre-help" [ngClass]="campoEsValido('Nombre') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('Nombre')" id="nombre-help" class="p-error">Nombre es incorrecto.</small>
                                </div>
                                <div class="p-field">
                                    <label for="apellido">Apellido</label>
                                    <input id="apellido" type="text" formControlName="Apellido" aria-describedby="apellido-help" [ngClass]="campoEsValido('Apellido') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('Apellido')" id="apellido-help" class="p-error">Apellido es incorrecto.</small>
                                </div>
                                <div class="p-field">
                                    <label for="Contrasenia">Contraseña</label>
                                    <input id="Contrasenia" type="text" formControlName="Contrasenia" aria-describedby="Contrasenia-help" [ngClass]="campoEsValido('Contrasenia') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('Contrasenia')" id="Contrasenia-help" class="p-error">Contraseña es incorrecto.</small>
                                </div>
                                <div class="p-field">
                                    <label for="Rol">Rol</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select select" id="inputGroupSelect02" RolUsuario="rol" formControlName="RolUsuario">
                                            <option value=0>Administrador</option>
                                            <option value=1>Tester</option>
                                            <option value=2>Desarrollador</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-field">
                                    <label *ngIf="(Rol !== 0)">Valor por Hora: </label>
                                    <input *ngIf="(Rol !== 0)" id="Valor" type="number" formControlName="Valor" aria-describedby="Valor-help" [ngClass]="campoEsValido('Valor') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('Valor')" id="Valor-help" class="p-error">Valor debe se entre 0 a 1000.</small>
                                </div>
                                <p></p>
                                <div class="p-field">
                                    <label for="Email">Email</label>
                                    <input id="Email" type="text" formControlName="Email" aria-describedby="Email-help" [ngClass]="campoEsValido('Email') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('Email')" id="Email-help" class="p-error">Email es incorrecto.</small>
                                </div>
                                <div class="p-field">
                                    <label for="NombreUsuario">Nombre de Usuario</label>
                                    <input id="NombreUsuario" type="text" formControlName="NombreUsuario" aria-describedby="NombreUsuario-help" [ngClass]="campoEsValido('NombreUsuario') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('NombreUsuario')" id="NombreUsuario-help" class="p-error">Nombre de Usuario es incorrecto.</small>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" id="btn-guardar" value="Alta" class="btn btn-success" pButton pRipple />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-toast></p-toast>
</main>