<!-- <h1>Login</h1>
<hr>


<div class="row">

    <div class="col">
        <app-formulario (onLoguearse)="login( $event )">
        </app-formulario>
    </div>

</div> -->


<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <h1>Login</h1>
                    <app-formulario>
                    </app-formulario>
                </div>
            </div>
            <!-- <categorias-list></categorias-list> -->
        </div>
    </div>
    <app-footer></app-footer>
    <!-- <toast-alert></toast-alert> -->

    <!-- <confirmation-alert></confirmation-alert> -->
</main>