<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <h1>Proyectos</h1>
                </div>
            </div>
            <div class="container">
                <div class="card-internal">
                    <p-table [value]="proyectos" styleClass="p-datatable-sm" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            Proyectos
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Duración</th>
                                <th>Costo</th>
                                <th>Detalles</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-proyecto>
                            <tr>
                                <td>{{proyecto.id}}</td>
                                <td>{{proyecto.nombre | titlecase }}</td>
                                <td>{{proyecto.duracion | number }}</td>
                                <td>{{proyecto.costo | number }}</td>
                                <td>
                                    <span class="p-buttonset">
                                        <button pButton type="button" label="incidentes" icon="pi pi-android" (click)="incidentes(proyecto.id)"></button>
                                        <button pButton type="button" label="tareas" icon="pi pi-desktop" (click)="tareas(proyecto.id)"></button>
                                        <button pButton type="button" label="asignados" icon="pi pi-users" (click)="asignados(proyecto.id)"></button>
                                    </span>

                                </td>
                                <td>
                                    <button pButton type="editar" (click)="editar(proyecto.id)" icon="pi pi-pencil">
                                    </button>
                                </td>
                                <td>
                                    <button pButton type="button" (click)="eliminar(proyecto.id)" icon="pi pi-trash">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <!-- <toast-alert></toast-alert> -->

    <!-- <confirmation-alert></confirmation-alert> -->
</main>