<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <input id="btn-guardar" (click)="volver()" value="Volver" class="btn btn-success btn-volver" />
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
                    <h1 align="center">Administracion de Tareas</h1>
                    <div class="card-internal">
                        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="consultarAccion()">
                            <div class="card-header">Editar Tarea</div>
                            <div class="card-body">
                                <!-- Nombre -->
                                <div class="p-field">
                                    <label for="Nombre">Nombre de la Tarea</label>
                                    <input id="Nombre" type="text" formControlName="nombre" aria-describedby="Nombre-help" [ngClass]="campoEsValido('nombre') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('nombre')" id="Nombre-help" class="p-error">Nombre de Tarea debe contener entre 3 y 25 caracteres.</small>
                                </div>
                                <!-- Proyecto -->
                                <div class="p-field">
                                    <label for="Rol">Seleccione el proyecto</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select select" id="inputGroupSelect02" RolUsuario="proyecto" formControlName="proyecto">
                                            <option *ngFor="let p of proyectos" [value]="p.id" >{{p.nombre}}</option>
                                        </select>
                                        <small *ngIf="campoEsValido('proyecto')" id="duracion-help" class="p-error">Debe elegir un proyecto.</small>
                                    </div>
                                </div>
                                <!-- Costo -->
                                <div class="p-field">
                                    <label for="Costo">Costo por Hora</label>
                                    <input id="Costo" type="number" formControlName="costo" aria-describedby="costo-help" [ngClass]="campoEsValido('costo') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('costo')" id="costo-help" class="p-error">Costo debe ser mayor a cero.</small>
                                </div>
                                <!-- duracion -->
                                <div class="p-field">
                                    <label for="duracion">Duración en horas</label>
                                    <input id="duracion" type="number" formControlName="duracion" aria-describedby="duracion-help" [ngClass]="campoEsValido('duracion') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('duracion')" id="duracion-help" class="p-error">Duración debe ser mayor a cero.</small>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" id="btn-guardar" value="Editar" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="p-flex p-flex-column" style="flex: 1">
                <div class="p-text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}</p>
                </div>
                <div class="p-grid p-fluid" style="display: flex;">
                    <div class="p-col-6" style="width: 50%; padding: 7px;">
                        <button type="button" pButton (click)="onConfirm()" label="Si" class="p-button-success"></button>
                    </div>
                    <div class="p-col-6" style="width: 50%; padding: 7px;">
                        <button type="button" pButton label="No" (click)="onReject()" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
    <p-toast></p-toast>
</main>