<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <h1>Alta Proyecto</h1>
                </div>
            </div>
            <div class="container">
                <div class="card-internal">
                    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="altaProyecto()">
                        <!-- Nombre -->
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-12">
                                <input class=" col-sm-10" type="text" placeholder="Nombre Proyecto"
                                    formControlName="nombre">
                                <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
                                    Este campo es obligatorio
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary float-end">
                                    Alta
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>