<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
                    <h1 align="center">Administración de Incidentes</h1>
                </div>
            </div>
            <div class="container">
                <div class="card-internal">
                    <div class="card-header" align="center">Inicio</div>
                    <div class="card-body">
                        <h3>Bienvenido</h3>
                        <p>Bienvenido a la aplicación para la administrción de incidentes de proyectos.</p>
                        <p>Para comenzar, seleccione una opción del menú lateral que represente la acción que desea realizar.</p>
                        <p>Ante consultas, sobre el desarrollo de la misma, verificarlo en el repositorio de <a href="https://github.com/ORT-DA2/182999_208443" target="_blank">Github</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>