<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <input id="btn-guardar" (click)="volver()" value="Volver" class="btn btn-success btn-volver" />
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
                    <h1 align="center">Detalles del Incidente</h1>
                    <div class="card-internal">
                        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="modificar()">
                            <div class="card-header">
                                <h3 style="text-align: center;" *ngIf="!tester">Detalles del Incidente</h3>
                                <h3 style="text-align: center;" *ngIf="tester">Modificar del Incidente</h3>
                            </div>
                            <div class="card-body">
                                <!-- Nombre -->
                                <div class="p-field">
                                    <label for="nombre">Nombre del Incidente</label>
                                    <input [(ngModel)]="incidente[0]?.nombre!" id="Nombre" type="text" formControlName="nombre" aria-describedby="Nombre-help" [ngClass]="campoEsValido('nombre') ? 'ng-invalid' : ''" class="ng-dirty" pInputText asdasd />
                                    <small *ngIf="campoEsValido('nombre')" id="Nombre-help" class="p-error">Nombre de Tarea incorrecto.</small>
                                </div>
                                <!-- Descripcion -->
                                <div class="p-field">
                                    <label for="Descripcion">Descripción</label>
                                    <input [(ngModel)]="incidente[0]?.descripcion!" id="Descripcion" type="text" formControlName="descripcion" aria-describedby="costo-help" [ngClass]="campoEsValido('descripcion') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('descripcion')" id="descripcion-help" class="p-error">Descripción incorrecta.</small>
                                </div>
                                <!-- Versión -->
                                <div class="p-field">
                                    <label for="version">Versión</label>
                                    <input [(ngModel)]="incidente[0]?.version!" id="version" type="text" formControlName="version" aria-describedby="version-help" [ngClass]="campoEsValido('version') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('version')" id="version-help" class="p-error">Versión incorrecta.</small>
                                </div>
                                <!-- Estado -->

                                <div class="p-field">
                                    <label>Estado del Incidente</label>
                                    <div>
                                        <div (click)="cambiarEstado()" style="width: 150px; margin: 0 20px 5px 0;" class="btn btn-primary">{{ (estado) ? "Activar" : "Resolver" }}</div>
                                        {{ (estado) ? "Resuelto" : "Activo" }} {{ (nombreDesarrollador) ? " - Resuelto por: " + nombreDesarrollador : ''}}
                                    </div>

                                </div>
                                <!-- Duracion -->
                                <div class="p-field">
                                    <label for="duracion">Duración</label>
                                    <input [(ngModel)]="incidente[0]?.duracion!" id="duracion" type="number" formControlName="duracion" aria-describedby="duracion-help" [ngClass]="campoEsValido('duracion') ? 'ng-invalid' : ''" class="ng-dirty" pInputText />
                                    <small *ngIf="campoEsValido('duracion')" id="duracion-help" class="p-error">Duración incorrecta.</small>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" id="btn-guardar" value="Modificar" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <p-toast></p-toast>
</main>