<main class="main-container">
    <div class="container pt-3">
        <div class="row">
            <input id="btn-guardar" (click)="volver()" value="Volver" class="btn btn-success btn-volver" />
            <div class="col-12 mb-4">
                <div class="card border-0">
                    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
                    <h1 align="center">Administración de Proyectos</h1>
                    <div class="card-internal">
                        <div class="card-header">Usuarios Agregados</div>
                        <div class="card-body">
                            <p-table [value]="asignados!" styleClass="p-datatable-sm" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr style="border-top: 2px solid rgb(0, 0, 122); border-radius: 5px;">
                                        <th>id</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>Acción</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-asignado>
                                    <tr>
                                        <td>{{asignado.id}}</td>
                                        <td>{{asignado.nombre | titlecase }}</td>
                                        <td>{{asignado.apellido | titlecase }}</td>
                                        <td>{{asignado.email}}</td>
                                        <td *ngIf="asignado.rolUsuario == 0">Administrador</td>
                                        <td *ngIf="asignado.rolUsuario == 2">Tester</td>
                                        <td *ngIf="asignado.rolUsuario == 1">Desarrollador</td>
                                        <td><button pButton type="button" (click)="eliminar(asignado.id)" icon="pi pi-trash"></button></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="card-internal mt-5">
                        <div class="card-header">Usuarios No Agregados Aún</div>
                        <div class="card-body">
                            <p-table [value]="usuarios!" styleClass="p-datatable-sm" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr style="border-top: 2px solid rgb(0, 0, 122); border-radius: 5px;">
                                        <th>id</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>Acción</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-asignado>
                                    <tr>
                                        <td>{{asignado.id}}</td>
                                        <td>{{asignado.nombre | titlecase }}</td>
                                        <td>{{asignado.apellido | titlecase }}</td>
                                        <td>{{asignado.email}}</td>
                                        <td *ngIf="asignado.rolUsuario == 0">Administrador</td>
                                        <td *ngIf="asignado.rolUsuario == 2">Tester</td>
                                        <td *ngIf="asignado.rolUsuario == 1">Desarrollador</td>
                                        <td> <button pButton type="button" (click)="agregar(asignado.id)" icon="pi pi-plus-circle"></button></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <p align="center" class="mt-3">
                        <input id="btn-guardar" (click)="actualizar()" value="Actualizar" class="btn btn-success" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>